<header id="in8it8" class="header1">
    <div id="i575rl" class="container">
        <div data-columns="1" data-gjs="navbar" id="iyp1im" class="row no-gutters">
            <div data-column="1" id="inpxw9" class="cell">
<a [routerLink]="['##']" id="i4ku7m" class="">
<span id="i5znup" class="brand-name">
Modernarc</span>
</a>

                <div id="i3dv0k" class="burger">
                    <div id="template-ihmmg" class="burger-line-dark"></div>
                    <div id="template-ih6ag" class="burger-line-dark"></div>
                    <div id="template-i60fj" class="burger-line-dark"></div>
                </div>
            </div>
            <div data-column="1" id="i8smfs" class="cell">
                <div data-gjs="navbar-items" id="template-is73j" class="menu-container">
                    <nav data-gjs="navs" id="template-i19ef" class="menu">
<a [routerLink]="['##']" id="i6lytg" class="menu-link">
Home</a>

<a [routerLink]="['https://grapedrop.com/preview/bdc7f08b7e854f7cbe15f8293b8be25d']"
                        id="iyluko" class="menu-link">
About</a>

<a [routerLink]="['##']" id="io2a2p" class="menu-link">
Contact</a>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="main" class="">
    <section id="ia7qb4" class="gpd-section">
        <div id="iemlag" class="gpd-container gpd-cnt">
            <div id="iz71l6" class="gdp-row gpd-grid">
                <div id="id9w94" class="cell gpd-clm">
                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/798a70d592fa4ee2af42f3e9ea5801e1_land.png"
                    id="iqh2pn" class="" />
                </div>
                <div id="iax8kl" class="cell gpd-clm">
                    <div id="izqygr" class="gdp-row gpd-grid">
                        <div id="template-if0mj" class="cell gpd-clm">
                            <div id="imr4de" class="">
                                <div id="template-ic0zy" class="">Connecting the World in Better Ways</div>
                                <br id="template-i0w0y" class="">
                            </div>
                        </div>
                        <div id="template-in3o9" class="cell gpd-clm">
                            <div id="igzlg9" class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor.</div>
                        </div>
                        <div id="iujqgf" class="cell gpd-clm">
                            <button type="button" id="iqv539" class="btn btn-primary">Get Started Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="iobnnv" class="gpd-section">
        <div id="template-in97l" class="gpd-container gpd-cnt">
            <div id="i4171q" class="gdp-row gpd-grid">
                <div id="iss0ua" class="cell gpd-clm">
                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/24ac76443fdd433db52454debb27b471_group_18968.png"
                    id="io7t9t" class="" />
                </div>
                <div id="ifsulf" class="cell gpd-clm">
                    <div id="ibqvrg" class="gdp-row gpd-grid">
                        <div id="i7mvtd" class="cell gpd-clm">
                            
<h1 id="ihwwbi" class="gpd-header">
<div id="template-ivm1h" class="">
Why Should</div>
<br id="template-ixtuh" class="">
<div id="template-ilof6" class="">
​​​​​​​​​​​​​​Choose WeConnect?</div>
</h1>

                        </div>
                    </div>
                    <div id="ist0ct" class="gdp-row gpd-grid">
                        <div id="iqg623" class="cell gpd-clm">
                            <div id="i3r8ri" class="gdp-row gpd-grid">
                                <div id="ib7oyk" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/10b9efabb3174c34976e7cc385423b76_group_18970.png"
                                    id="in7qyh" class="" />
                                </div>
                                <div id="i3898z" class="cell gpd-clm">
                                    <div id="i7o2td" class="gdp-row gpd-grid">
                                        <div id="template-iob95s" class="cell gpd-clm">
                                            
<h1 id="i3qb5k" class="gpd-header">
Simple and Flexible</h1>

                                        </div>
                                        <div id="template-ikruzf" class="cell gpd-clm">
                                            <div id="i1hkyl" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipielit, sed do eiusmod tempor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="i8ftkg" class="cell gpd-clm">
                            <div id="i9b23k" class="gdp-row gpd-grid">
                                <div id="itzod4" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/10b9efabb3174c34976e7cc385423b76_group_18970.png"
                                    id="in4hfx" class="" />
                                </div>
                                <div id="ip1zmo" class="cell gpd-clm">
                                    <div id="i37dxk" class="gdp-row gpd-grid">
                                        <div id="template-ipquhh" class="cell gpd-clm">
                                            
<h1 id="icku3f" class="gpd-header">
Simple and Flexible</h1>

                                        </div>
                                        <div id="template-i8f8qk" class="cell gpd-clm">
                                            <div id="iagl8e" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipielit, sed do eiusmod tempor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="i82efi" class="gpd-section">
        <div id="template-idnj61" class="gpd-container gpd-cnt">
            <div id="template-iadpf5" class="gdp-row gpd-grid">
                <div id="ioybh5" class="cell gpd-clm">
                    <div id="if4dig" class="gdp-row gpd-grid">
                        <div id="template-inqthl" class="cell gpd-clm">
                            
<h1 id="icqnvj" class="gpd-header">
<div id="template-i5y0fz" class="">
Power your</div>
<br id="template-ippt4j" class="">
<div id="template-ifc1fl" class="">
Entire Bussiness</div>
<br id="template-i0jruu" class="">
</h1>

                        </div>
                        <div id="ic4f1j" class="cell gpd-clm">
                            <div id="inxg0k" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua Ut</div>
                        </div>
                        <div id="template-i0zcdh" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/7917324ddead4a368d3ee191232f7edc_group_18971.png"
                            id="iedkpc" class="" />
                        </div>
                    </div>
                </div>
                <div id="ihsk9g" class="cell gpd-clm">
                    <div id="ifpbtj" class="gdp-row gpd-grid">
                        <div id="i79w8v" class="cell gpd-clm">
                            <div id="ih31qj" class="gdp-row gpd-grid">
                                <div id="i5naou" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/32e047048e2b47a2958156f3cddb5596_cardimg.png"
                                    id="i5yvwg" class="" />
                                </div>
                                <div id="irfwtg" class="cell gpd-clm">
                                    <div id="i5ppwd" class="gdp-row gpd-grid">
                                        <div id="template-i55fag" class="cell gpd-clm">
                                            
<h1 id="ito9jl" class="gpd-header">
<div id="template-i2rd5i" class="">
Global Access</div>
<br id="template-ihd8q5" class="">
</h1>

                                        </div>
                                        <div id="icpn9z" class="cell gpd-clm">
                                            <div id="ibsiyr" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipielit, sed do eiusmod tempor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="i36ycn" class="gdp-row gpd-grid">
                        <div id="iogfak" class="cell gpd-clm">
                            <div id="ivpwbl" class="gdp-row gpd-grid">
                                <div id="iccxao" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/79d1732966104f058ac6c329328c9a05_group_18975.png"
                                    id="i7xdwp" class="" />
                                </div>
                                <div id="iqrswr" class="cell gpd-clm">
                                    <div id="i4jck9" class="gdp-row gpd-grid">
                                        <div id="template-ikuw9g" class="cell gpd-clm">
                                            
<h1 id="i5xixv" class="gpd-header">
Realtime Routing</h1>

                                        </div>
                                        <div id="ikri6j" class="cell gpd-clm">
                                            <div id="iwvaeu" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipielit, sed do eiusmod tempor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="iny3dl" class="gdp-row gpd-grid">
                        <div id="ipnt4l" class="cell gpd-clm">
                            <div id="isfh4l" class="gdp-row gpd-grid">
                                <div id="iar2kg" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/d324e18e70a74f69b4ddf6bb99133ba4_group_18977.png"
                                    id="ikia2l" class="" />
                                </div>
                                <div id="inv2l9" class="cell gpd-clm">
                                    <div id="iph6mu" class="gdp-row gpd-grid">
                                        <div id="template-iqs85h" class="cell gpd-clm">
                                            
<h1 id="ibomot" class="gpd-header">
uninterrupted connection</h1>

                                        </div>
                                        <div id="i0ierm" class="cell gpd-clm">
                                            <div id="idlews" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipielit, sed do eiusmod tempor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="i12u9u" class="gpd-section">
        <div id="template-iuug1r" class="gpd-container gpd-cnt">
            <div id="ilsgsw" class="gdp-row gpd-grid">
                <div id="ily0ra" class="cell gpd-clm">
                    
<h1 id="i6ixyi" class="gpd-header">
<div id="template-i89ppu" class="">
Our Services</div>
<br id="template-ian306" class="">
</h1>

                    <div id="ip78pe" class="gpd-text">
                        <div id="template-i0vxn2" class="">Lorem ipsum dolor sit amet, consectetur adipi</div>
                        <br id="template-ik8p37"
                        class="">
                        <div id="template-iytty4" class="">elit, sed do eiusmod tempor.</div>
                    </div>
                    <div id="i0npme" class="gdp-row gpd-grid">
                        <div id="ijqs8z" class="cell gpd-clm">
                            <div id="ifkufg" class="gdp-row gpd-grid">
                                <div id="ivr9w8" class="cell gpd-clm">
                                    <img id="inrmcg" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/cd6587e32acf435997859f85785f6cc3_satellite-dish.png"
                                    class="" />
                                </div>
                                <div id="idy3ur" class="cell gpd-clm">
                                    
<h1 id="igv9ms" class="gpd-header">
Lorem Ipsum</h1>

                                </div>
                                <div id="irm3jj" class="cell gpd-clm">
                                    <div id="i8ulf" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua Ut ad minim</div>
                                </div>
                            </div>
                        </div>
                        <div id="ilwyu2" class="cell gpd-clm">
                            <div id="iu278f" class="gdp-row gpd-grid">
                                <div id="ib4i6e" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/cd6587e32acf435997859f85785f6cc3_satellite-dish.png"
                                    id="igsh41" class="" />
                                </div>
                                <div id="izdloh" class="cell gpd-clm">
                                    
<h1 id="iiyu0k" class="gpd-header">
Lorem Ipsum</h1>

                                </div>
                                <div id="i3b23j" class="cell gpd-clm">
                                    <div id="ivvhuc" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua Ut ad minim</div>
                                </div>
                            </div>
                        </div>
                        <div id="inmswg" class="cell gpd-clm">
                            <div id="ivq6lg" class="gdp-row gpd-grid">
                                <div id="is9op8" class="cell gpd-clm">
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/cd6587e32acf435997859f85785f6cc3_satellite-dish.png"
                                    id="i9kvuk" class="" />
                                </div>
                                <div id="iyyofh" class="cell gpd-clm">
                                    
<h1 id="i8k15m" class="gpd-header">
Lorem Ipsum</h1>

                                </div>
                                <div id="iyf8lh" class="cell gpd-clm">
                                    <div id="ir7muq" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua Ut ad minim</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="izjhrg" class="gpd-section">
        <div id="ienwul" class="gpd-container gpd-cnt">
            <div id="i4supd" class="gpd-text">
                <div id="template-i9u2ak" class="">A New leader in enterprise</div>
                <br id="template-i5arap" class="">
                <div id="template-iua15m" class="">Communication management.</div>
            </div>
        </div>
    </section>
    <section id="ingi7j" class="gpd-section">
        <div id="i7vgzp" class="gpd-container gpd-cnt">
            <div id="i8jvcj" class="gdp-row gpd-grid">
                <div id="i37s3i" class="cell gpd-clm">
                    
<h1 id="i3cvhj" class="gpd-header">
What our customers are saying</h1>

                    <div id="i1kiwg" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ​​​​​eiusmod
                        tempor incididunt ut labore et dolore magna</div>
                    <div id="ixdq8y" class="gdp-row gpd-grid">
                        <div id="i78duw" class="cell gpd-clm">
                            <img id="iecegg" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/eed359f9514e4e9cb4ed12bc719bc136_ogaq.png"
                            class="" />
                        </div>
                        <div id="ip6tbh" class="cell gpd-clm">
                            <div id="iii56h" class="gdp-row gpd-grid">
                                <div id="izbj2v" class="cell gpd-clm">
                                    <img id="iyri16" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/e185039c959047b589f0edb0762e47f6_ndflam.png"
                                    class="" />
                                </div>
                                <div id="iwv4ke" class="cell gpd-clm">
                                    <div id="iw975t" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna </div>
                                </div>
                                <div id="ipawb7" class="cell gpd-clm">
                                    <div id="ieqoiv" class="gpd-text">Rory Burns</div>
                                </div>
                                <div id="i82854" class="cell gpd-clm">
                                    <div id="izpbwk" class="gpd-text">Tech Lead, Connect Inc</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="igholo" class="gpd-section">
        <div id="template-i9hju9" class="gpd-container gpd-cnt">
            <div id="irf8ki" class="gdp-row gpd-grid">
                <div id="i7adyj" class="cell gpd-clm">
                    
<h1 id="i579ef" class="gpd-header">
Do you have any questions?</h1>

                </div>
                <div id="ip28o2" class="cell gpd-clm">
                    <div id="iiv1yc" class="gpd-text">Put your email address and get started</div>
                </div>
                <div id="if7gge" class="cell gpd-clm">
                    <div id="iq2ijh" class="gdp-row gpd-grid">
                        <div id="i2bujh" class="cell gpd-clm">
                            <div type="text" id="frmg-vjkdp4d5k5" placeholder="Enter email address"
                            class="form-control"></div>
                            <button type="button" id="ide4mf" class="btn btn-primary">Button</button>
                        </div>
                    </div>
                    <div id="ibwri7" class="form-group"></div>
                </div>
            </div>
        </div>
    </section>
</section>