<footer id="foot" class="">
    <section id="i65hs" class="gpd-section">
        <div id="i392i" class="gpd-container gpd-cnt">
            <div id="i4h7ti" class="gdp-row gpd-grid">
                <div id="template-isutrj" class="cell gpd-clm">
                    <div id="i76zta" class="gdp-row gpd-grid">
                        <div id="ir0u5z" class="cell gpd-clm">
                            <img id="ipyr3j" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/8d62be450a774a868eaef16b0d0054e5_group_18991.png"
                            class="" />
                        </div>
                        <div id="ijm97l" class="cell gpd-clm">
                            <div id="i5n2vi" class="gpd-text">
                                <div id="template-ihvncv" class="">Lorem ipsum dolor sit amet, consectetur adipi</div>
                                <br id="template-iofito"
                                class="">
                                <div id="template-itijgk" class="">elit, sed do eiusmod tempor.</div>
                            </div>
                        </div>
                        <div id="template-i7y6p4" class="cell gpd-clm">
                            <div id="ice5ho" class="gdp-row gpd-grid">
                                <div id="isw977" class="cell gpd-clm">
                                    <img id="idh1ll" src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/74d85d070e6d48aa858598fa9f3be394_facebook.png"
                                    class="" />
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/a50adc37c753446ca05f9f65c82df3b8_linkedin_1.png"
                                    id="ikzg9j" class="" />
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/2604bcb8791943e6a454c10cacff8833_youtube.png"
                                    id="if1scf" class="" />
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/0d4177cad9074e989e8042f5907f8422_instagram.png"
                                    id="idlto4" class="" />
                                    <img src="https://cdn.grapedrop.com/u5f631954a3924f379de303e603ec8319/edaf6370e3fe4cd4bbf1bd9d480765f9_twitter.png"
                                    id="ia7kpk" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="i0bn8h" class="cell gpd-clm">
                    <div id="i3csxa" class="gdp-row gpd-grid">
                        <div id="in1j2l" class="cell gpd-clm">
                            
<h1 id="ier6xc" class="gpd-header">
Quick Links</h1>

                            <div id="i3hscw" class="footer-item">
<a [routerLink]="['##']" id="ievkac" class="footer-link">
Home</a>

                            </div>
                            <div id="iqzlfd" class="footer-item">
<a [routerLink]="['##']" id="i9dt9l" class="footer-link">
Products</a>

                            </div>
                            <div id="i7zwid" class="footer-item">
<a [routerLink]="['##']" id="ijr9ko" class="footer-link">
Company</a>

                            </div>
                            <div id="i0tb0e" class="footer-item">
<a [routerLink]="['##']" id="issmu9" class="footer-link">
Resources</a>

                            </div>
                            <div id="imgkog" class="footer-item">
<a [routerLink]="['##']" id="i1wrp1" class="footer-link">
Contact</a>

                            </div>
                        </div>
                        <div id="icjkfq" class="cell gpd-clm">
                            
<h1 id="ija98t" class="gpd-header">
Contact</h1>

                            <div id="itoo2c" class="gpd-text">
                                <div id="template-ipci4i" class="">+99 (0) 111 0022 567 Steve C.</div>
                                <br id="template-idsmzn" class="">
                                <div id="template-isi3ha" class="">Amedee 2204 Patrick Street</div>
                                <br id="template-idfmml" class="">
                                <div id="template-i7jfgk" class="">Phoenix, Tx 76051</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>